In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("winequality-white.csv", sep = ";")
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7,0.27,0.36,20. Jul,0.045,45,170.0,1.00100,3,0.45,08. Aug,6
1,06. Mrz,0.3,0.34,01. Jun,0.049,14,132.0,0.99400,03. Mrz,0.49,09. Mai,6
2,08. Jan,0.28,0.4,06. Sep,0.050,30,97.0,0.99510,Mrz 26,0.44,10. Jan,6
3,07. Feb,0.23,0.32,08. Mai,0.058,47,186.0,0.99560,Mrz 19,0.4,09. Sep,6
4,07. Feb,0.23,0.32,08. Mai,0.058,47,186.0,0.99560,Mrz 19,0.4,09. Sep,6
...,...,...,...,...,...,...,...,...,...,...,...,...
4893,06. Feb,0.21,0.29,01. Jun,0.039,24,92.0,0.99114,Mrz 27,0.5,11. Feb,6
4894,06. Jun,0.32,0.36,8,0.047,57,168.0,0.99490,Mrz 15,0.46,09. Jun,5
4895,06. Mai,0.24,0.19,01. Feb,0.041,30,111.0,0.99254,Feb 99,0.46,09. Apr,6
4896,05. Mai,0.29,0.3,01. Jan,0.022,20,110.0,0.98869,Mrz 34,0.38,12. Aug,7
4897,6,0.21,0.38,0.8,0.020,22,98.0,0.98941,Mrz 26,0.32,11. Aug,6

In [3]:
df.head(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7,0.27,0.36,20. Jul,0.045,45,170.0,1.0010,3,0.45,08. Aug,6
1,06. Mrz,0.3,0.34,01. Jun,0.049,14,132.0,0.9940,03. Mrz,0.49,09. Mai,6
2,08. Jan,0.28,0.4,06. Sep,0.050,30,97.0,0.9951,Mrz 26,0.44,10. Jan,6
3,07. Feb,0.23,0.32,08. Mai,0.058,47,186.0,0.9956,Mrz 19,0.4,09. Sep,6
4,07. Feb,0.23,0.32,08. Mai,0.058,47,186.0,0.9956,Mrz 19,0.4,09. Sep,6
5,08. Jan,0.28,0.4,06. Sep,0.050,30,97.0,0.9951,Mrz 26,0.44,10. Jan,6
6,06. Feb,0.32,0.16,7,0.045,30,136.0,0.9949,Mrz 18,0.47,09. Jun,6
7,7,0.27,0.36,20. Jul,0.045,45,170.0,1.0010,3,0.45,08. Aug,6
8,06. Mrz,0.3,0.34,01. Jun,0.049,14,132.0,0.9940,03. Mrz,0.49,09. Mai,6
9,08. Jan,0.22,0.43,01. Mai,0.044,28,129.0,0.9938,Mrz 22,0.45,11,6

In [4]:
df.tail(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
4888,06. Aug,0.22,0.36,01. Feb,0.052,38,127.0,0.99330,03. Apr,0.54,09. Feb,5
4889,04. Sep,0.235,0.27,Nov 75,0.030,34,118.0,0.99540,03. Jul,0.5,09. Apr,6
4890,06. Jan,0.34,0.29,02. Feb,0.036,25,100.0,0.98938,03. Jun,0.44,11. Aug,6
4891,05. Jul,0.21,0.32,0.9,0.038,38,121.0,0.99074,Mrz 24,0.46,10. Jun,6
4892,06. Mai,0.23,0.38,01. Mrz,0.032,29,112.0,0.99298,Mrz 29,0.54,09. Jul,5
4893,06. Feb,0.21,0.29,01. Jun,0.039,24,92.0,0.99114,Mrz 27,0.5,11. Feb,6
4894,06. Jun,0.32,0.36,8,0.047,57,168.0,0.99490,Mrz 15,0.46,09. Jun,5
4895,06. Mai,0.24,0.19,01. Feb,0.041,30,111.0,0.99254,Feb 99,0.46,09. Apr,6
4896,05. Mai,0.29,0.3,01. Jan,0.022,20,110.0,0.98869,Mrz 34,0.38,12. Aug,7
4897,6,0.21,0.38,0.8,0.020,22,98.0,0.98941,Mrz 26,0.32,11. Aug,6

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         4898 non-null   object
 1   volatile acidity      4898 non-null   object
 2   citric acid           4898 non-null   object
 3   residual sugar        4898 non-null   object
 4   chlorides             4898 non-null   float64
 5   free sulfur dioxide   4898 non-null   object
 6   total sulfur dioxide  4898 non-null   float64
 7   density               4898 non-null   float64
 8   pH                    4898 non-null   object
 9   sulphates             4898 non-null   object
 10  alcohol               4898 non-null   object
 11  quality               4898 non-null   int64
dtypes: float64(3), int64(1), object(8)
memory usage: 459.3+ KB

In [8]:
df.shape

(4898, 12)

In [11]:
df1 = df.copy()

In [15]:
df.describe()

         chlorides  total sulfur dioxide      density      quality
count  4898.000000           4898.000000  4898.000000  4898.000000
mean      0.045772            138.360657     1.548363     5.877909
std       0.021848             42.498065     6.838541     0.885639
min       0.009000              9.000000     0.987110     3.000000
25%       0.036000            108.000000     0.991723     5.000000
50%       0.043000            134.000000     0.993740     6.000000
75%       0.050000            167.000000     0.996100     6.000000
max       0.346000            440.000000   103.898000     9.000000

In [16]:
df['quality_label'] = df['quality'].apply(lambda value: 'low'
if value <= 5 else 'medium'
if value <= 7 else 'high')
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,quality_label
0,7,0.27,0.36,20. Jul,0.045,45,170.0,1.00100,3,0.45,08. Aug,6,medium
1,06. Mrz,0.3,0.34,01. Jun,0.049,14,132.0,0.99400,03. Mrz,0.49,09. Mai,6,medium
2,08. Jan,0.28,0.4,06. Sep,0.050,30,97.0,0.99510,Mrz 26,0.44,10. Jan,6,medium
3,07. Feb,0.23,0.32,08. Mai,0.058,47,186.0,0.99560,Mrz 19,0.4,09. Sep,6,medium
4,07. Feb,0.23,0.32,08. Mai,0.058,47,186.0,0.99560,Mrz 19,0.4,09. Sep,6,medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4893,06. Feb,0.21,0.29,01. Jun,0.039,24,92.0,0.99114,Mrz 27,0.5,11. Feb,6,medium
4894,06. Jun,0.32,0.36,8,0.047,57,168.0,0.99490,Mrz 15,0.46,09. Jun,5,low
4895,06. Mai,0.24,0.19,01. Feb,0.041,30,111.0,0.99254,Feb 99,0.46,09. Apr,6,medium
4896,05. Mai,0.29,0.3,01. Jan,0.022,20,110.0,0.98869,Mrz 34,0.38,12. Aug,7,medium
4897,6,0.21,0.38,0.8,0.020,22,98.0,0.98941,Mrz 26,0.32,11. Aug,6,medium

In [18]:
# here we are transforming these labels into categrical data type (specific to pandas) instead of simple string
df['quality_label'] = pd.Categorical(df['quality_label'],
categories=['low', 'medium', 'high'])
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,quality_label
0,7,0.27,0.36,20. Jul,0.045,45,170.0,1.00100,3,0.45,08. Aug,6,medium
1,06. Mrz,0.3,0.34,01. Jun,0.049,14,132.0,0.99400,03. Mrz,0.49,09. Mai,6,medium
2,08. Jan,0.28,0.4,06. Sep,0.050,30,97.0,0.99510,Mrz 26,0.44,10. Jan,6,medium
3,07. Feb,0.23,0.32,08. Mai,0.058,47,186.0,0.99560,Mrz 19,0.4,09. Sep,6,medium
4,07. Feb,0.23,0.32,08. Mai,0.058,47,186.0,0.99560,Mrz 19,0.4,09. Sep,6,medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4893,06. Feb,0.21,0.29,01. Jun,0.039,24,92.0,0.99114,Mrz 27,0.5,11. Feb,6,medium
4894,06. Jun,0.32,0.36,8,0.047,57,168.0,0.99490,Mrz 15,0.46,09. Jun,5,low
4895,06. Mai,0.24,0.19,01. Feb,0.041,30,111.0,0.99254,Feb 99,0.46,09. Apr,6,medium
4896,05. Mai,0.29,0.3,01. Jan,0.022,20,110.0,0.98869,Mrz 34,0.38,12. Aug,7,medium
4897,6,0.21,0.38,0.8,0.020,22,98.0,0.98941,Mrz 26,0.32,11. Aug,6,medium

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         4898 non-null   object
 1   volatile acidity      4898 non-null   object
 2   citric acid           4898 non-null   object
 3   residual sugar        4898 non-null   object
 4   chlorides             4898 non-null   float64
 5   free sulfur dioxide   4898 non-null   object
 6   total sulfur dioxide  4898 non-null   float64
 7   density               4898 non-null   float64
 8   pH                    4898 non-null   object
 9   sulphates             4898 non-null   object
 10  alcohol               4898 non-null   object
 11  quality               4898 non-null   int64
 12  quality_label         4898 non-null   category
dtypes: category(1), float64(3), int64(1), object(8)
memory usage: 464.2+ KB